{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block links %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('login') }}">Log In <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('signup') }}">Sign Up </a>
</li>
{% endblock %}

{% block content %}
    <div class="forms login">
        <h2>Log In</h2>
        <form action="{{url_for('login')}}" method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}
            <button type="submit" class="btn btn-success">Log in</button>
        </form>
    </div>
    <div class='message'>
        {{text | safe}} 
    </div>
{% endblock %}